body {
    background-color: rgb(252, 245, 234);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@font-face {
    font-family: WorkSansBold;
    src: url(fonts/WorkSans-Bold.ttf);
}

@font-face {
    font-family: WorkSansRegular;
    src: url(fonts/WorkSans-Regular.ttf);
}

h1 {
    font-size: 40px; 
    color: rgba(198, 117, 2, 0.904);
    font-family: WorkSansBold;
}

h2{
    font-family: WorkSansBold;
}

#promo-header{
    font-family:WorkSansBold;
    text-transform: uppercase;
}

#promo{
    background-color: brown;
    color: white;
    font-weight: bold;
}
#promos img{
    width: 100%;
}

#main-header {
    background-color: rgb(175, 89, 3);
    padding: 10px 20px;
}

nav {
    height: 80px;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main-content {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex: 1;
    gap: 50px;
}

#left-menu {
    width: 30%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#main {
    width: 70%;
    margin-bottom: 20px;
}

footer {
    background-color: rgb(148, 74, 0);
    color: white;
    padding: 30px;
    text-align: center;
}


.menu-logo {
    width: 175px;
    margin-right: 30px;
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}


.page-header-small {

    font-family: WorkSansRegular;
    color: black;
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
    font-size: 1.1em;
    letter-spacing: 0.2rem;
}


.small-menu {
    list-style-type: none;
    list-style: none;
    text-align: center;
    padding: 0px;
}


.small-menu>li>a{
    font-family: WorkSansRegular;
    text-transform: uppercase;
    line-height: 1.5em;
    color: #c87d52;
}


.aside-header {
    text-align: center;
    font-family: WorkSansBold;
    text-transform: uppercase;

}


#left-menu>a>img {
    width: 150px;
    margin: auto;
    display: block;
    
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

nav > ul > li {
    display: flex;
    align-items: center;
}

nav > ul > li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
    font-family: WorkSansRegular;
}

nav > ul > li a:hover {
    color: #ffd0c9;
}



form {
    padding: 25px;
}

input[type=text],
input[type=date],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
    font-family: WorkSansRegular;

}

input[type=submit] {
    background-color: #c87d52;
    color: black;
    font-family: WorkSansRegular;
    text-transform: uppercase;
    font-size: large;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

label {
    font-family: WorkSansRegular;
    text-transform: uppercase;
    font-size: 0.9em;

}

fieldset {
    padding: 16px;
    border-radius: 10px;
    border-color: #c87d52;
    margin-bottom: 30px;
}

legend {
    margin-bottom: 0px;
    margin-left: 16px;
    font-family: WorkSansRegular;
    text-transform: uppercase;
}

.menu-toggle {
    display: none;
 
}

@media (max-width: 768px) {
    nav {
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }

    nav > ul {
        flex-direction: column;
        width: 100%;
        background: rgb(175, 89, 3);
        display: none;
        padding: 10px 0;
    }

    nav > ul.show-menu {
        display: flex;
    }

    nav > ul > li {
        width: 100%;
        text-align: center;
    }

    nav > ul > li a {
        display: block;
        padding: 12px;
        width: 100%;
    }

   
    .menu-toggle {
        display: block;
        background: none;
        border: none;
        font-size: 30px;
        color: white;
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 20px;
    }

    
    #main-content {
        max-width: 90%;
        margin: 0 auto;
        display: flex;
        flex: 1;
        gap: 50px;
    }

    h1 {
        font-size: 40px; 
        color: rgba(198, 117, 2, 0.904);
        font-family: WorkSansBold;
        text-align: center;
    }

    #main {
        width: 100%;
        margin-bottom: 20px;
        align-items: center;
    }

    
}
@media (max-width: 480px) {
    .menu-logo {
        width: 120px;
    }

    nav {
        padding: 5px 15px;
    }

    .menu-toggle {
        font-size: 26px;
    }

    #main-content {
        max-width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 50px;
    }

    #left-menu {
        width: 100%;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #main {
        width: 100%;
        margin-bottom: 20px;
        align-items: center;
    }

    h1 {
        font-size: 35px; 
        color: rgba(198, 117, 2, 0.904);
        font-family: WorkSansBold;
        text-align: center;
    }

    figure {
        margin: 0;
    }

    footer {
        background-color: rgb(148, 74, 0);
        color: white;
        padding: 10px;
        text-align: center;
    }

    #wrapper {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: 0;
    }
    
    
}